.main
    .main__ava
        .main__ava-info
            span.info__name.
                #{name}
            span.info__occup Личный сайт веб разработчика
    .main__links
        include ../sections/links
    .main__nav

